<section class="about-resume">
  <div class="resume-header">
      <h2>Placer l'action au coeur de nos formations pour vous permettre d'optimiser vos actions immédiatement.</h2>
      <div class="resume-header_img">
        <img src="./img/formation-spines-seo.jpeg" width="650" alt="formation-spines-seo.jpg">
      </div>
      <p>En tant que gérant de votre projet ou votre entreprise, passer a coté des outils digitaux est le risque de passer a coté d'opportunités essentielles. Pour autant, votre temps est limité et reprendre toutes les bases du marketing digital pour mettre en pratique que 20% de votre apprentissage serait superflu. 
      </p>
      <p>C'est pourquoi chez Spines Formation, nous développons des formations axées sur la mise en pratique concrete des actions qui vous aiderons rapidement a obtenir des résultats. </p>
      <p>Nous adaptons nos supports et nos cas pratiques a votre entreprise et vos besoins pour toutes nos formations. Les programmes sont crées et mis a jour par des professionnel en exercice afin de coller au plus proche des méthodologies modernes et actuelles.</p>
  </div>
  <div>
      <h2>Notre méthodologie</h2>
      <div class="resume-box_container">
        <div class="resume-box">
              <h3>Vous former a l'essentiel</h3>
              <p>Vous êtes professionnel et expert dans votre domaine. Votre vocation n'est pas d'apprendre un nouveau métier, mais de mieux comprendre les enjeux des outils digitaux pour en tirer le meilleur profit.</p>
        </div>
        <div class="resume-box">
              <h3>Mise en pratique pendant la formation</h3>
              <p>Votre projet sera notre terrain de jeu ! Nous prennons en référence votre cas pour développer vos compétences. Ainsi a la fin vous devenez autonome sur les sujets digitaux et avec un plan d'action en plus pensé avec un professionnel en exercice pour développer votre marketing digital.</p>
        </div>
      </div>
    
  </div>
</section>

<style>
  .resume-header {
    margin-bottom: 50px;
  }
  .resume-header_img {
    display: flex;
    justify-content: center;
    z-index: -1;
  }
  .resume-header img {
    width: 80%;
    border-radius: 20px;
    transform: rotate(2deg);
  }
  .resume-box_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .resume-box {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    border-radius: 20px;
  }
</style>