---
import  FormationPreview  from '../Formations/FormationPreview.astro'
---

<section class="section-formation">
  <h2>Des programmes adaptés à la mise en place d'actions concrètes</h2>
  <FormationPreview />
</section>

<style>
  .section-formation {
    background-color: #FFFCEF;
    padding: 2.5rem 0;
  }
  .section-formation h2 {
    text-align: center;
  }
</style>