<section>
  <div>
    <h2>Faire financer votre formation</h2>
    <p>Nos formations sont certifiées Qualiopi. Cela vous permet de pouvoir profiter d'un fincancement pouvant aller jusqu'à 100% du prix de la formation.</p>
    <p>Vous souhaitez en savoir plus sur les prises en charge disponibles ? Nos conseillers sont là pour vous aider.</p>
    <a href="#" class="cta-primary">Prendre RDV avec un conseiller</a>
  </div>
</section>

<style>
  section {
    background-color: #FFFCEF;
  }
</style>