---
import Layout from '../layouts/Layout.astro';
import Reference from '../components/Sections/Reference.astro';
import CataloguePreview from '../components/Sections/CataloguePreview.astro';
import About from '../components/Sections/About.astro';
import Testimonials from '../components/Sections/Testimonials.astro';
import CTA from '../components/Sections/CTA.astro';
import Financement from '../components/Sections/Financement.astro';
---

<Layout title="Spines Formation">
	<main>
		<section class="header-content">
			<p><span>Prise en charge à 100% possible</span></p>
			<h1>Formez vous aux outils numériques essentiels à la croissance de votre entreprise</h1>
			<a href="/" class="cta-primary">Trouver une formation</a>
		</section>
		<Reference />
		<CataloguePreview />
		<About />
		<Testimonials />
		<CTA 
			title="Creez le programme de formation idéal pour votre projet" 
			resume="Discutons ensemble de votre projet et de vos besoins pour adpater le programme de formation le plus adapté à votre entreprise." 
			ctatxt="Prendre rendez-vous avec un conseiller" 
			ctalink="/" />
		<Financement />
	</main>
</Layout>

<style>
	.header-content {
		background-image: url('/img/formation-seo-entreprises.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
		padding: 11.7rem 1.7rem 1.9rem 1.7rem;
		margin: 0 1.2rem;
		border-radius: 20px;
		color: #fff;
	}
	.header-content h1 {
		margin-bottom: 2rem;
		margin-top: 0;
		font-size: 2rem;
	}
	span {
		font-size: 0.7rem;
		font-weight: 700;
		background-color: #fff;
		border-radius: 20px;
		margin: 0px 0px;
		padding: 0.5rem 1rem;
		color: black;
	}
	@media screen and (min-width: 768px) {
		.header-content {
			padding: 11.7rem 3.7rem 5.4rem 3.7rem;
			margin: 0 14%
		}
		.header-content h1 {
			font-size: 3rem;
			max-width: 800px;
			line-height: 4rem;
		}
		
	}
</style>
