<footer>
  <section class="footer-section">
    <div class="copyright">
      <img src="/icone-spines.svg" width="80" alt="icone spines">
      <p>© 2024 - Spines Formation</p>
    </div>
    <div class="footer-col_container"> 
      <div class="footer-col">
        <h3>Spines</h3>
        <ul>
          <li><a href="#">Légal</a></li>
          <li><a href="#">Confidentialité</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Informations</h3>
        <ul>
          <li><a href="#">Ressources</a></li>
          <li><a href="#">Catalogue</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>

<style>
  .footer-section, .footer-col_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .copyright {
    text-align: center;
  }
  .copyright p {
    font-size: 0.6rem;
    color: #332E47;
  }
  footer h3 {
    font-size: 1rem;
  }
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  .footer-col {
    text-align: center;
  }
  .footer-col li {
    margin: 10px 0;
    font-size: 0.8rem;
  }
  .footer-col li a {
    color: #332E47;
    text-decoration: none;
  }
  @media screen and (min-width: 768px) {
    .footer-section, .footer-col_container {
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-col_container {
      gap: 80px;
    }
    .footer-col {
      text-align: left;
    }
  }
</style>