<footer>
  <section>
    <div class="copyright">
      <img src="/icone-spines.svg" width="80" alt="icone spines">
      <p>© 2024 - Spines Formation</p>
    </div>
    <div>
      <h3>Spines</h3>
      <ul>
        <li><a href="#">Légal</a></li>
        <li><a href="#">Confidentialité</a></li>
      </ul>
    </div>
    <div>
      <h3>Informations</h3>
      <ul>
        <li><a href="#">Ressources</a></li>
        <li><a href="#">Catalogue</a></li>
      </ul>
    </div>
  </section>
</footer>

<style>
  .copyright {
    text-align: center;
  }
</style>